<script>
  import { Router, Route } from "svelte-routing";

  // components for this layout
  import AdminNavbar from "components/Navbars/AdminNavbar.svelte";
  import Sidebar from "components/Sidebar/Sidebar.svelte";
  import HeaderStats from "components/Headers/HeaderStats.svelte";
  import FooterAdmin from "components/Footers/FooterAdmin.svelte";

  // pages for this layout
  import Dashboard from "views/admin/Dashboard.svelte";
  import Settings from "views/admin/Settings.svelte";
  import Tables from "views/admin/Tables.svelte";
  import Maps from "views/admin/Maps.svelte";
  import Vehiculos from "../views/admin/Vehiculos.svelte";
  import MarcasModelos from "../views/admin/MarcasModelos.svelte";
  import Documentos from "../views/admin/Documentos.svelte";
  import CargasCombustible from "../views/admin/CargasCombustible.svelte";
  import Mantenimiento from "../views/admin/Mantenimiento.svelte";
  import Conductores from "../views/admin/Conductores.svelte";
  import Infracciones from "../views/admin/Infracciones.svelte";
  import Licencias from "../views/admin/Licencias.svelte";
  import Rutas from "../views/admin/Rutas.svelte";
  import Aseguranzas from "../views/admin/Aseguranzas.svelte";
  import Reclamaciones from "../views/admin/Reclamaciones.svelte";

  export let location;
  export let admin = "";
</script>

<div>
  <Sidebar location={location}/>
  <div class="relative md:ml-64 bg-blueGray-100">
    <HeaderStats />
    <div class="px-4 md:px-10 mx-auto w-full -m-24">
      <Router url="admin">
        <Route path="dashboard" component="{Dashboard}" />
        <Route path="vehiculos" component="{Vehiculos}" />
        <Route path="marcas-y-modelos" component="{MarcasModelos}" />
        <Route path="documentos" component="{Documentos}" />
        <Route path="cargas-combustible" component="{CargasCombustible}" />
        <Route path="mantenimiento" component="{Mantenimiento}" />

        <Route path="conductores" component="{Conductores}" />
        <Route path="infracciones" component="{Infracciones}" />
        <Route path="licencias" component="{Licencias}" />

        <Route path="rutas" component="{Rutas}" />

        <Route path="aseguranzas" component="{Aseguranzas}" />
        <Route path="reclamaciones" component="{Reclamaciones}" />







        <Route path="settings" component="{Settings}" />
        <Route path="tables" component="{Tables}" />
        <Route path="maps" component="{Maps}" />
      </Router>
    </div>
  </div>
</div>
