<script>
  import SearchTable from "../../components/Cards/SearchTable.svelte";
  import { onMount } from "svelte";
  import { getInfracciones} from "../../api/api.js";
  export let location;

  let items = [];
  let headers = [];
  let placeholder="";
  let modalContent="infraccion";
  let titleModal= "Editar infracción"


  onMount(async () => {
    try {
      const response= await getInfracciones();
      items = response.infracciones;
      headers = Object.keys(response.infracciones[0]);
    } catch (error) {
      console.error("Error fetching data:", error.message);
    }
  });

  let headerMap= {
    num: 'Num',
    fechahora: "Fecha",
    fecha: "Hora?",
    dirCalle: "Calle",
    dirNumero: "Numero",
    dirColonia: "Colonia",
    monto: "Monto",
    fechaLimitePago: "Limite Pago",
    esConductorResponsable: 'Responsable',
    vehiculo_id: 'Vehiculo',
    conductor_id: 'Conductor'
    };
  
</script>

<div class="w-full">
  <div class="flex flex-wrap mt-4 w-full">
    <div class="w-full mb-12 xl:mb-0 px-4">
      <SearchTable
        headers={headers}
        items={items}
        placeholder={placeholder}
        headerMap={headerMap}
        title="Infracciones"
        {modalContent}
        {titleModal}
        formatCell={(header, value) => {
          if (header === 'monto') {
            return `${value} MXN`;
          } else if (header === 'esConductorResponsable') {
            return value ? 'Conductor': 'Empresa';
          } else {
            return value;
          }
        }}
      />
    </div>
  </div>
</div>
