<script>
  import SearchTable from "../../components/Cards/SearchTable.svelte";
  import { onMount } from "svelte";
  import { getRutas} from "../../api/api.js";
  export let location;

  let items = [];
  let headers = [];
  let modalContent="ruta";
  let titleModal="Editar Ruta";

  onMount(async () => {
    try {
      const response = await getRutas();
      items = response.rutas;
      headers = Object.keys(response.rutas[0]);
      console.log(items);
      console.log(headers);
    } catch (error) {
      console.error("Error fetching data:", error.message);
    }
  });

  let title = "Rutas";
  let placeholder = "Ej. Amortiguadores, Fixcartj";

  let headerMap = {
    fechaHoraInicio: "Inicio",
    fechaHoraFin: "Finalizacion",
    comentarios: "Comentarios",
    finalizada: "Estado",
    vehiculo__numSerie: 'No.Serie',
  };

</script>

<div class="w-full">
  <div class="flex flex-wrap mt-4 w-full">
    <div class="w-full mb-12 xl:mb-0 px-4">
      <SearchTable
        {headers}
        {headerMap}
        {items}
        {placeholder}
        {title}
        {modalContent}
        {titleModal}
        formatCell={(header, value) => {
          if (header === 'finalizada') {
            return value ? 'Finalizada' : 'No finalizada';
          } else if (header === 'comentarios') {
            return value ? value : 'Sin comentarios';
          } else {
            return value;
          }
        }}
      />
    </div>
  </div>
</div>
